{% extends 'blog/base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
    <h2>All Posts</h2>
    <a href="{% url 'post-create' %}">+ New Post</a>
    <ul>
        {% for post in object_list %}
            <li>
                <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
            </li>
            <div class="pagination">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
                </div>
        {% endfor %}
    </ul>
{% endblock %}
